extends baseEmail

block  content
  p Hello #{firstName},
    p forgot your password?? 
    img(src='https://c.tenor.com/9-W5UySH6FYAAAAC/mib-men-in-black.gif')
    p Did Will smith use one of his thingies (Neuralyzer) on you?    Here comes the de-neuralyzer.
    p click the link below to reset your password ... 
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Reset Your Password here
    p If you didn't forget your password, kindly ignore this email!
    p -- Micheal from  FIRST-LOOP 🎉 🎉