extends baseEmail

block  content
  p Hi #{firstName},
    p Thanks for joining us at first loop.
    img(src='https://i.gifer.com/77OG.gif')
    p We're all a big family here,kindly update your credentials for us to know and serve you better
    p Over the next few weeks, we'll be sending you a few more emails to help you gain maximum value from us. We’ll share our favorite tips and provide some exciting behind-the-scenes information. Thanks!
    p If you need any help with your Account, please don't hesitate to contact me!
    p -- Myke Awoniran from First-loop 🎉 🎉